# Público
NEXT_PUBLIC_API_URL=https://api-ds.codeverse.dev.br/
NEXT_PUBLIC_URL_SERIES=https://api-ds.codeverse.dev.br/api/series
NEXT_PUBLIC_API_KEY=

# Privado
API_URL_SERIES=https://api-ds.codeverse.dev.br/api/series
API_KEY=